* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  letter-spacing: -0.015em;
}
body,html{
	min-height: 100vh;
}

.wrapper {
  @include container;
}

.has-space {
	margin-top: rem-calc(60);
	@media only screen and (min-width:768px) {
		margin-top: rem-calc(120);
	}
}