* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  letter-spacing: -0.03em;
}
body,html{
	min-height: 100vh;
}

.wrapper {
  @include container;
}