.header {
  position: relative;
  background-color: #111;
}
.logo {
  position: absolute;
  z-index: 4;
  top: rem-calc(0);
  left: 50%;
  width: 6em;
  margin-left: -3rem;
  @media only screen and (min-width:768px) {
    width: 8em;
    margin-left: -4rem;
  }
  img {
    max-width: 100%;
  }
}
