.header {
  position: relative;
  background-color: #111;
}
.logo {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 50%;
  width: 7.50em;
  margin-left: -3.75rem;
  @media only screen and (min-width:768px) {
    width: 11.250em;
    margin-left: -5.625rem;
  }
  img {
    max-width: 100%;
  }
}
