.hero {
  display: block;
  position: relative;
  width: 100vw;
  height: rem-calc(720);
  max-height: 60vh;
  cursor: pointer;
  transition: max-height 300ms ease-in-out;
}

.hero-day,
.hero-night {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  figure {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  img {
    position: absolute;
    left: 50vw;
    max-height: 100%;
    transform: translateX(-50%);
  }
}

.hero-night {
  background-color: #111;
  z-index: 1;

  @media only screen and (min-width:768px) {
    &:hover + .hero-day {
      max-width: 48%;
    }
  }
}

.hero-day {
  background-color: #eee;
  transition: opacity 500ms ease-in-out;
  z-index: 2;
  opacity: 1;

  @media only screen and (max-width:767px) {
    animation: lightON 2500ms ease-in;
  }
  &.hero-day.is-null {
    opacity: 0;
  }

  @media only screen and (min-width:768px) {
    transition: max-width 500ms ease-in-out;
    max-width: 50%;
    &.hero-day.is-full {
      max-width: 100%;
    }
    &.hero-day.is-null {
      max-width: 0%;
      opacity: 1;
    }
    &:hover {
      max-width: 52%;
    }
  }
}

@keyframes lightON {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}