.highlight-bg {
	width: 100%;
	height: rem-calc(720);
	max-height: 60vh;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&.is-danu {
		background-image: image-url('assets/img/daniel_ehrensperger.jpg');
	}

}

.highlight {
	@include container;
	background-color: #231D18;
	/*@media only screen and (min-width:768px) {
		display: flex; 
		flex-direction: row;
	}*/
}
.highlight-img {
	text-align: center;
	@media only screen and (min-width:768px) {
		@include span(4 wide of 12);
		margin-right: 0;
	}
}
.highlight-img img {
	display: block;
	max-width: 100%;
	margin: 0 auto; 
}
.highlight-text {
	background: #f5f5f5;
	padding: rem-calc(48);
	@media only screen and (min-width:768px) {
		@include span(8 last of 12);
  	}
}